version: '2.4'
services:
  http:
    container_name: http-gobbs
    image: go-bbs
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8002:8001"
    command:
      /go/src/projectname/bbs   #运行已经编译的文件
