<!-- 底部 -->
<div style="clear:both"></div>
<div class="footer">
  <div class="footer_b">
    <div class="footer_b_foot">
      <div class="footer_b_top">
        <li>
          <div class="footer_b_logo">
            <img src="__HOME_STATIC__/image/logo.png">
          </div>
        </li>
        <li>
          <div class="footer_b_content">
            <h2>友情链接</h2>
          </div>
        </li>
        <li>
          <div class="footer_b_content">
            <h2>微信公众号</h2>
            <div class="foot-qcode">
              <img src="__HOME_STATIC__/image/ibc爱编程.jpg">
              <p>微信公众号</p>
            </div>
            <div class="foot-qun"></div>
          </div>
        </li>
      </div>
      <div class="footer_b_bottom">
        CopyRight 2017雷小天博客版权所有<span class="footer_statistics" style=""><script type="text/javascript"></script></span>
      </div>
    </div>
  </div><!-- footer_style_b -->
</div><!-- footer -->
