{{/*<link rel='stylesheet' id='lightsns-style-css'  href='__HOME_STATIC__/css/style.css' type='text/css' media='all' />*/}}
{{/*<link rel='stylesheet' id='all-css'  href='__HOME_STATIC__/css/all.css' type='text/css' media='all' />*/}}
{{/*<script type='text/javascript' src='__HOME_STATIC__/js/ueditor.config.js'></script>*/}}
{{/*<script type='text/javascript' src='__HOME_STATIC__/js/ueditor.all.min.js'></script>*/}}
{{/*<script type='text/javascript' src='__HOME_STATIC__/js/shcore.js'></script>*/}}
{{/*<script type="text/javascript" src="__HOME_STATIC__/js/all.js"></script>*/}}
{{/*<script type='text/javascript' src='__HOME_STATIC__/layui/layui.all.js'></script>*/}}
{{/*<link  rel="stylesheet" type="text/css" href="__HOME_STATIC__/layui/css/layui.css"  media="all">*/}}


{{/*<script type='text/javascript' src='__HOME_STATIC__/layer/layer.js'></script>*/}}
{{/*<script type='text/javascript' src='__HOME_STATIC__/js/jinsom_ajax.js'></script>*/}}
{{/*<script type='text/javascript' src='__HOME_STATIC__/js/wp-embed.min.js'></script>*/}}
{{/*<script type='text/javascript' src='__HOME_STATIC__/js/wp-emoji-release.min.js'></script>*/}}

{{/*<link id="post_style" rel="stylesheet" type="text/css" href="__HOME_STATIC__/css/posts_style_timeline.css">*/}}
{{/*<link id="single_layout_style" rel="stylesheet" type="text/css" href="__HOME_STATIC__/css/layout_double_column.css">*/}}
{{/*<link id="menu_fixed_style" rel="stylesheet" type="text/css" href="__HOME_STATIC__/css/menu_fixed_yes.css">*/}}
{{/*<link id="posts_space_style" rel="stylesheet" type="text/css" href="__HOME_STATIC__/css/posts_space_yes.css">*/}}
{{/*<link id="bg_skin_style" rel="stylesheet" type="text/css" href="__HOME_STATIC__/css/shcoredefault.css">*/}}
<!-- <link id="layer_style" rel="stylesheet" type="text/css" href="__css__/layer.css"> -->

<script type="text/javascript" src="/assets/js/jquery.2.1.4.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/danmu.css" />
