<div class="menu-bar top">
<div class="head_content">
<h1 class="m-logo"><a href="/" style="background: url(__HOME_STATIC__/image/logo.png);background-size: 180px 45px;"></a></h1>
<div id="nav" class="menu-menu-1-container">
  <ul id="menu-menu-1" class="menu">
    <li id="menu-item-12" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-12">
      <a href="/public">首页</a>
    </li>
    <li id="menu-item-36" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-36">
      <a href="javascript::void;">论坛</a>
    </li>
    <li id="menu-item-42" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-42">
      <a href="{:url('home/index/article')}">站点</a>
    </li>
    <li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17">
      <a href="{:url('home/index/about')}">关于</a>
    </li>
    <li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16">
      <a href="{:url('home/index/feedback')}">留言</a>
    </li>
</ul>
</div>
<div class="head_user_info">
  <ul>
<li id="head_search"><i class="fa fa-search"></i></li>    <li id="head_login" onclick='jinsom_pop_login_style();'>登录</li>
<span class="head_login_middle">or</span>
<li id="head_reg" onclick="jinsom_pop_reg_style();">注册</li>
  </ul>
</div>
<div style="clear: both;"></div>
</div>
</div><!-- menu-bar -->
